name: Docker Build and Push

on:
  push:
    branches: ["develop"]
  pull_request:
    branches: ["develop"]
  release:
    types: [published]

jobs:
  docker-build:
    runs-on: ubuntu-latest
    steps:
      - name: Git Checkout
        uses: actions/checkout@v4
      - name: Find tag
        id: tagger
        run: |
          echo "tag=$(git fetch --prune --unshallow && git describe --tags --match 'v*')" >> $GITHUB_OUTPUT

      - name: Show docker image tag
        run: |
          echo 'Building spacemeshos/poet:${{steps.tagger.outputs.tag}} docker image'

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: spacemeshos/poet:latest, spacemeshos/poet:${{ GITHUB.SHA  }}, spacemeshos/poet:${{steps.tagger.outputs.tag}}
          build-args: |
            version=${{steps.tagger.outputs.tag}}
